build/
doc/*
theses/*
test/*
out/*
src/.vscode/
tmp/*

!doc/doc.html

!test/Arrays
!test/Comments
!test/Literals
!test/Operators
!test/Pointers
!test/CompileTime
!test/HelloWorld
!test/Imports
!test/Strings
!test/Structs
!test/Functions

!out/ArrayList.c

!theses/main.pdf